<div class="work">
  <h4 class="title text-center">Плетение на длинных волосах</h4>
  <img src="{{ url_for('static', filename='img/work/big/12.jpg') }}" class="rounded mx-auto d-block" alt="">
  <p>Коса издавна считалась одним из самых красивых естественных женских украшений. Помните, как в народных сказках - «коса до пояса» «или «краса – длинная коса». Женщины с длинными волосами всегда заметно выигрывали на фоне коротковолосых женщин, и это продолжается даже теперь, во времена высоких технологий. Идеалы не меняются, а ухоженные, мягкие и красиво заплетенные волосы по-прежнему считаются образцом женственности и красоты.</p>
</div>