<div class="work">
  <h4 class="title text-center">После восстановления La Biosthetique</h4>
  <img src="{{ url_for('static', filename='img/work/big/18.jpg') }}" class="rounded mx-auto d-block" alt="">
  <p>Восстанавливает, регенерирует внутреннюю структуру и запаивает верхнюю структуру волос.
Защищает и обновляет дисульфидные мостики в волосе.
Восстанавливает необходимое количество кератина в волосах.
Дополнительное образование солевых мостиков посредством магниевых солей.
Предотвращает ломкость и стабилизирует волосы.
Прочность и устойчивость волос внешним факторам заметно повышается.
Волосы становятся заметно более эластичными, мягкими, сияющими и легко укладываются.
</p>
</div>