<div class="work">
  <h4 class="title text-center">Двойная французская коса</h4>
  <img src="{{ url_for('static', filename='img/work/big/10.jpg') }}" class="rounded mx-auto d-block" alt="">
  <p>Рано или поздно каждая женщина сталкивается с неистовым желанием, во чтобы то ни стало изменить прическу. Существует даже некая примета, если  поменять прическу – значит, скоро произойдут серьезные  позитивные изменения в жизни. Но что делать, если красить или обрезать волосы не поднимается рука? Решение может оказаться очень простым – «французская коса».</p>
</div>