<div class="work">
  <h4 class="title text-center">Плетение с резинками</h4>
  <img src="img/work/big/11.jpg" class="rounded mx-auto d-block" alt="">
  <p>Этот вид прически настолько универсален, его можно использовать для абсолютно разных целей  — начиная от прогулки и заканчивая роскошной вечеринкой. В последнее время пользуется большой популярностью  не только среди простых женщин, но и знаменитостей. Кстати, в большинстве случаев они не используют дополнительных аксессуаров, делая акцент в прическе именно на декоративное плетение.</p>
</div>